* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
.thumb {
  -webkit-box-shadow: inset 0px 0px 32px -5px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0px 0px 32px -5px rgba(0,0,0,0.35);
  box-shadow: inset 0px 0px 32px -5px rgba(0,0,0,0.35);

}
.error-container {
  padding: 2rem 4rem;
  user-select: none;
  margin: 2rem;
  background: rgb(230, 60, 38);
  font-family: 'Josefin Sans', sans-serif;
  font-size: small;
  border-radius: 1em;
}
.error-container a {
  color: white;
  text-decoration: underline;
}
.update-video-button {
  padding: 0.7em 0.8em;
  user-select: none;
  cursor: pointer;
  border: none;
  outline: none;
  background: #4F1887;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}
.update-video-button:hover {
  background: rgb(101, 47, 155);
}
.posts-grid-posts-page {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  .post-div {
    margin: 3rem;
    width: 15%;
  }
  @media screen and (max-width: 950px) {
    .post-div {
      width: 100%;
    }
  }
  @media screen and (max-width: 1200px) {
    .post-div {
        width: 50%;
    }
  }
.navbar-home-nav {
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1rem;
    background: #e2e2e2;
}
.register-button-homescreen {
    padding: 9px 8px;
    border: solid 3px #4F1887;
    color: black;
    text-decoration: none;
}
.register-button-homescreen:hover {
    background: #4F1887;
    color: white;
}
.login-button-homescreen {
    padding: 12px 8px;
    background: #4F1887;
    color: white;
    text-decoration: none;
}
.navbar-logo-header {
    user-select: none;
}
.post-detail-post {
    margin: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}
.add-comment-post-detail {
    font-family: 'Josefin Sans', sans-serif; 
}
.navbar-link-nav {
    /* transform: translateY(1rem); */
    margin: 1.75rem;
    text-decoration: none;
    list-style: none;
}
.post-list-description {
    font-size: 1.25em;
}

.sidenav {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .fa-bars {
      user-select: none;
      cursor: pointer;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .profile-image-navbar-nav {
    padding: 8px 8px 8px 32px; 
  }
  .navbar-right-align {
      float: right;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .dropbtn {
    cursor: pointer;
    color: white;
    border: none;
  }
  .dropbtn:hover {
    -webkit-box-shadow: inset 0px 0px 295px 200px rgba(0,0,0,0.42);
-moz-box-shadow: inset 0px 0px 295px 200px rgba(0,0,0,0.42);
box-shadow: inset 0px 0px 295px 200px rgba(0,0,0,0.42);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  