<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bop!</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>
        <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                
                {% if user.is_authenticated %}
                <img class="profile-image-navbar-nav" src="{{ request.user.profile.image.url }}" alt="profile image">
                <a href="{% url 'users:view_profile' %}">{{ request.user }}</a>
        {% else %}
        <a class="register-button-homescreen" href="{% url 'users:register' %}">Register</a>
    <a href="{% url 'users:user-login' %}" class="login-button-homescreen">Login</a>
        
        {% endif %}
                
                <a href="#">Account Settings</a>
                <a href="#">Playlists</a>
                <!-- <a href="#">Logout</a> -->
              </div>
              <div id="container">
              <div class="navbar-home-nav">
        <i onclick="openNav()" style="transform: translateY(-2rem); margin-left: 2rem;" class="fas fa-bars"></i>
        <a href="{% url 'posts:posts' %}">
        <img style="margin-left: 1rem;" draggable="false" style="user-select: none;" height="85" width="auto" class="navbar-logo-header" src="{% static 'images/bop-logo.png' %}" alt="Bop's Logo">
        </a>

        <div style="transform: translateY(1.5rem);" class="navbar-right-align">
          <div class="dropdown">
            {% if user.is_authenticated %}
        <img style=" margin-right: 2rem; border-radius: 50%;" class="profile-image-small-right-float dropbtn" src="{{ request.user.profile.image.url }}" alt="profile image" height="40" width="40">
        <div style="transform: translateX(-75%);" class="dropdown-content">
            <a href="{% url 'users:view_profile' %}">Profile</a>
            <a href="{% url 'users:profile-update' %}">Account Settings</a>
            <a href="#">Subscriptions</a>
          </div>
        </div>
        {% else %}
        <a class="register-button-homescreen" href="{% url 'users:register' %}">Register</a>
    <a href="{% url 'users:user-login' %}" class="login-button-homescreen">Login</a>
        
        {% endif %}
        </div>
    </div>
    </div>
    {% block content %}{% endblock %}
  
    

    <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "300px";
             // document.getElementById("container").style.backgroundColor = "black";
              //document.getElementById("container").style.opacity = "0.3";
              //document.getElementById("container").style.boxShadow = "0 0 3px black";
            }
            
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
              //document.getElementById("container").style.opacity = "1";
              //document.getElementById("container").style.backgroundColor = "transparent";
            }
            </script>
            <script src="https://vjs.zencdn.net/7.5.5/video.js"></script>
</body>
</html>