{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    <div class="post-detail-post">
        <!-- <img draggable="false" style="user-select: none;" src="{{ post.image.url }}" alt="Post Image"> -->
        <video controls width="800" height="450" src="{{ post.video.url }}"></video>
        <p style="transform: translateY(0.5rem);" class="post-list-description">{{ post.description }}</p>
        {% if request.user == post.author %}
        <a href="{% url 'posts:update-post' pk=post.pk %}">
            <button class="update-video-button" style="text-transform: capitalize; margin-top: 1rem;">update video</button>
        </a>
        {% else %}
        {% endif %}
        <p><img style="border-radius: 50%; transform: translateY(0.75rem);" class="profile-image-small-right-float" src="{{ post.author.profile.image.url }}" alt="profile image" height="40" width="40"><a style="margin-left: 0.75rem;" href="{% url 'users:view_profile_with_pk' pk=post.author.pk %}"><strong>{{ post.author }}</strong></p></a>
        {% if user in obj.subscribers.all %}
        <p style="margin-top: 1rem;">Unsubscribe</p>
        {% else %}
        <p style="margin-top: 1rem;">Subscribe</p>
        {% endif %}
    <div style="margin-top: 5rem ;" class="comment-detail-box">
        <p>Comments: {{ post.comments.count }}</p>
        <a class="add-comment-post-detail" href="{% url 'posts:add-comment' pk=post.pk %}"><p>Add comment</p></a>
        {% for comment in post.comments.all %}
            <p>{{ comment.text }}</p>
        {% endfor %}
    </div>
    </div>
{% endblock %}