{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
{% if request.user == post.author %}
    <h1>Update video</h1>
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Video</button>
    </form>
{% else %}
<div class="error-container">
<h1><i class="fas fa-exclamation-triangle"></i> Oops! Looks like you don't have access to this! Return to the <a href="{% url 'posts:posts' %}">homepage</a> or if you think this is an error, <a href="#">submit a bug report</a></h1>

</div>
<div style="margin-top: 50vh;" class="img-cont-cont">
<div style="margin: 0 auto; text-align: center; user-select: none;" class="img-cont">
<img  draggable="false" style="user-select: none;" height="85" width="auto" class="navbar-logo-header" src="{% static 'images/bop-logo.png' %}" alt="Bop's Logo">
<br>
<small style="font-family: 'Josefin Sans', sans-serif;">Copyright Bop&copy; 2019</small>
</div>
</div>
{% endif %}

{% endblock %}