{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post!</button>
    </form>
{% endblock %}