{% extends 'posts/base.html' %}
{% load static %}
{% block content %}

    <div class="posts-grid-posts-page">
    {% for post in posts %}
    
        <div class="post-div">
            <a href="{% url 'posts:post-detail' pk=post.pk %}">
            <!-- <img draggable="false" style="user-select: none;" src="{{ post.image.url }}" alt="Post Image"> -->
            
            <!-- <img src="{{ post.image.url }}" alt="Post image"> -->
            <!-- <video width="250" height="200" src="{{ post.video.url }}"></video> -->
            {% if post.thumbnail %}
            <div style="width: 250px; height: 200px; background-image: url({{ post.thumbnail.url }}); background-size: cover;" class="thumb" ></div>
            {% else %}
            <div style="width: 250px; height: 200px;" class="videocontainer thumb">
            <video style="width: 250px; height: 200px;" src="{{ post.video.url }}"></video>
            </div>
            <!-- <div style="width: 250px; height: 200px; background-image: url({{ post.video.url }}); background-size: cover;" class="thumb" ></div> -->
            {% endif %}
            
            <!--  -->
            <!-- <video width="250" height="200" src="{{ post.video.url }}"></video> -->
            </a>
            <p style="margin-top: 1rem;" class="post-list-description">{{ post.description }}</p>
            <p>Posted by <a href="{% url 'users:view_profile_with_pk' pk=post.author.pk %}"><strong>{{ post.author }}</strong></p></a>
        </div>
        
    {% endfor %}
    </div>

    

    <style>
        
    </style>
{% endblock %}