{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    <h1>Login</h1>
    <form action="{% url 'users:user-login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
{% endblock %}