{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    <div class="profile-page-div">
        <div class="image-header-profile">
            <img src="{{ user.profile.image.url }}" alt="User Profile Profile Image">
        </div>
        <div class="username-header-profile">
            <h3>{{ user }}</h3>
        </div>
        <div class="user-posts-profile">
            {% for post in user_posts %}
                <div class="post-div">
                    <img src="{{ post.image.url }}" alt="Post Image">
                    <p>{{ post.description }}</p>
                    <p>Posted by <strong>{{ post.author }}</strong></p>
                </div><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}